body {
    margin: 0;
    font-family: "Mulish", sans-serif;
}

.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    width: 200px;
}

.register {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: calc(100vh - 200px);
}

.register__container {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
    border-radius: 40px;
    color: #ffffff;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.register__container--form {
    display: flex;
    flex-direction: column;
}

.register__container--form label {
    font-size: 14px;
}

.register__container--login {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.register__container--login a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.register__container--login a:hover {
    text-decoration: underline;
}

.input {
    background: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #ffffff;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: #ffffff;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    background-color: #ab88ff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
